<?php
/**
 * SettingsApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalCommunicationPortal
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Communication API
 *
 * Bumbal Communication Server API documentation
 *
 * OpenAPI spec version: 1.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalCommunicationPortal\API;

use \BumbalCommunicationPortal\ApiClient;
use \BumbalCommunicationPortal\ApiException;
use \BumbalCommunicationPortal\Configuration;
use \BumbalCommunicationPortal\ObjectSerializer;

/**
 * SettingsApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalCommunicationPortal
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SettingsApi
{
    /**
     * API Client
     *
     * @var \BumbalCommunicationPortal\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalCommunicationPortal\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\BumbalCommunicationPortal\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://communication.bumbal.eu/api/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalCommunicationPortal\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalCommunicationPortal\ApiClient $apiClient set the API client
     *
     * @return SettingsApi
     */
    public function setApiClient(\BumbalCommunicationPortal\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation settingsRetrieve
     *
     * Retrieve Settings for Bumbal Instance
     *
     * @throws \BumbalCommunicationPortal\ApiException on non-2xx response
     * @return \BumbalCommunicationPortal\Model\ApiResponse
     */
    public function settingsRetrieve()
    {
        list($response) = $this->settingsRetrieveWithHttpInfo();
        return $response;
    }

    /**
     * Operation settingsRetrieveWithHttpInfo
     *
     * Retrieve Settings for Bumbal Instance
     *
     * @throws \BumbalCommunicationPortal\ApiException on non-2xx response
     * @return array of \BumbalCommunicationPortal\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function settingsRetrieveWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/settings/retrieve";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalCommunicationPortal\Model\ApiResponse',
                '/settings/retrieve'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalCommunicationPortal\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalCommunicationPortal\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation settingsUpdate
     *
     * Settings Update
     *
     * @param \BumbalCommunicationPortal\Model\SettingsModel $body Settings object (optional)
     * @throws \BumbalCommunicationPortal\ApiException on non-2xx response
     * @return \BumbalCommunicationPortal\Model\ApiResponse
     */
    public function settingsUpdate($body = null)
    {
        list($response) = $this->settingsUpdateWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation settingsUpdateWithHttpInfo
     *
     * Settings Update
     *
     * @param \BumbalCommunicationPortal\Model\SettingsModel $body Settings object (optional)
     * @throws \BumbalCommunicationPortal\ApiException on non-2xx response
     * @return array of \BumbalCommunicationPortal\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function settingsUpdateWithHttpInfo($body = null)
    {
        // parse inputs
        $resourcePath = "/settings/update";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalCommunicationPortal\Model\ApiResponse',
                '/settings/update'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalCommunicationPortal\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalCommunicationPortal\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
